<extend name="Base/common" />
<block name="body">
    <div class="content">
        
        <div class="header">
            
            <h1 class="page-title">添加用户</h1>

        <div class="container-fluid">
            <div class="row-fluid">
				<div class="well">
					<div id="myTabContent" class="tab-content">
					<div class="tab-pane active in" id="home">
					<form id="tab" action="" method="post" >
						<label>角色</label>
						<select name="roleid">
						<volist name="rolelist" id="vo">
							<option value="{$vo.id}">{$vo.name}</option>
						</volist>
						</select>
						<label>用户名</label>
						<input type="text" class="input-xlarge" name="username">
						<label>密码</label>
						<input type="text" class="input-xlarge" name="password">
						<label>推广域名</label>
						<input type="text" class="input-xlarge" name="tuiguang_host">
						<div>
							<button class="btn btn-primary" type="submit">添加</button>
						</div>
					</form>
					</div>
				  </div>
				</div>   
<include file="Public/footer"/> 				
            </div>
        </div>
    </div>

</block>

