<extend name="Base/common" />
<block name="body">
 <div class="content">
        
        <div class="header">
            
            <h1 class="page-title">帐号管理</h1>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                    
<div class="btn-toolbar">
	<form action="{:U('index')}" method="get" style="float:right;">
		用户名:<input type="text" style="width: 130px;" name='username' value="{:urldecode($map['username'])}" />	
		推广域名:<input type="text" style="width: 180px;" name='tuiguang_host' value="{:urldecode($map['tuiguang_host'])}" />
		<button class="btn btn-primary" type="submit" style="margin-bottom:10px;">搜索</button>
		<div class="btn-group">
		</div>
	</form>
    <a class="btn btn-primary" href="{:U('add')}"><i class="icon-plus"></i>添加账号</a>
	<div class="btn-group">
	</div>
</div>
<div class="well">
    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>用户名</th>
		  <th>推广域名</th>
		  <th>角色</th>
		  <th>上级</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
	  <volist name="list" id="vo">
        <tr>
          <td>{$vo.id}</td>
          <td>{$vo.username}</td>
		  <td>{$vo.tuiguang_host}</td>
		  <td>{$vo.rolename}</td>
		  <td>{$vo.p_name}</td>
          <td>
              <a href="{:U('update', array('id' => $vo['id']))}"><i class="icon-pencil"></i></a>
              <a href="{:U('del', array('id' => $vo['id']))}" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
          </td>
        </tr>
	  </volist>
      </tbody>
    </table>
</div>


{$page}

        <include file="Public/footer"/>          

                    
            </div>
        </div>
    </div>
</block>

