<extend name="Base/common" />
<block name="header">
<div class="navbar">
	<div class="navbar-inner">
			<ul class="nav pull-right">
				
			</ul>
			<a class="brand" href="index.html"><span class="second">速测后台</span></a>
	</div>
</div>
</block>
<block name="left"></block>
<block name="body">
<div class="row-fluid">
    <div class="dialog">
        <div class="block">
            <p class="block-heading">Sign In</p>
            <div class="block-body">
                <form method="post">
                    <label>用户名</label>
                    <input type="text" class="span12" name="username">
                    <label>密码</label>
                    <input type="password" class="span12" name="password">
					<!--<label>验证码</label>
                    <input type="password" class="span12" name="password"><img src="{:U('User/verify')}" />-->
                    <button type="submit" class="btn btn-primary pull-right">登录</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

</block>

