<extend name="Base/common" />
<block name="body">
    <div class="content">
        
        <div class="header">
            
            <h1 class="page-title">编辑用户</h1>
        </div>
        

        <div class="container-fluid">
            <div class="row-fluid">
				<div class="well">
					<div id="myTabContent" class="tab-content">
					<div class="tab-pane active in" id="home">
					<form id="tab" action="" method="post" >
						<label>角色</label>
						<select name="roleid">
						<volist name="rolelist" id="vo">
							<option value="{$vo.id}" <if condition="$vo['id'] eq $user['roleid']">selected</if>>{$vo.name}</option>
						</volist>
						</select>
						<label>用户名</label>
						<input type="text" class="input-xlarge" name="username" value="{$user.username}">
						<label>密码</label>
						<input type="text" class="input-xlarge" name="password" >
						<label>推广域名</label>
						<input type="text" class="input-xlarge" name="tuiguang_host" value="{$user.tuiguang_host}">
						<div>
							<input type="hidden" name="id" value="{$user.id}" />
							<button class="btn btn-primary" type="submit">修改</button>
						</div>
					</form>
					</div>
				  </div>
				</div>  
<include file="Public/footer"/> 				
            </div>
        </div>
    </div>

</block>

