<extend name="Base/common" />
<block name="body">
 <div class="content">
        
        <div class="header">
            
            <h1 class="page-title">微信号列表</h1>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                    
<div class="btn-toolbar">
  <!-- <form action="{:U('index_bzcs')}" method="get">
    订单号:<input type="text" style="width: 130px;" name='order_num' placeholder="" value="{:urldecode($map['order_num'])}" /> 
    姓:<input type="text" style="width: 130px;" name='xing' value="{:urldecode($map['xing'])}" />
    名:<input type="text" style="width: 130px;" name='ming' value="{:urldecode($map['ming'])}" />
    <if condition="$is_super_admin">推广商:<input type="text" style="width: 130px;" name='tgs' value="{:urldecode($map['tgs'])}" /></if>
    t值:<input type="text" style="width: 130px;" name='t' placeholder="101,105" value="{:urldecode($map['t'])}" /> 
    支付状态:
    <select name="pay_status">
      <option value="-1" >未选</option>
    <volist name="pay_status" id="vo">
       <option value="{$key}" <if condition="$map['pay_status'] eq $key">selected</if> >{$vo}</option>
    </volist>
    </select>
    支付方式:
    <select name="pay_type">
      <option value="-1" >未选</option>
    <volist name="pay_type" id="vo">
       <option value="{$key}" <if condition="$map['pay_type'] eq $key">selected</if> >{$vo}</option>
    </volist>
    </select>
    测算时间：
    <input style='width:150px' name="addstarttime" type="text" value="{:urldecode($map['add_time_start'])}" onfocus="new WdatePicker(this,'%Y-%M-%D %h:%m:%s',true)" />
    到
    <input style='width:150px' name="addendtime" type="text" value="{:urldecode($map['add_time_end'])}" onfocus="new WdatePicker(this,'%Y-%M-%D %h:%m:%s',true)" />
    <button class="btn btn-primary" type="submit">搜索</button>
    <div class="btn-group">
    </div>
  </form>
   -->
  <!-- <form action="uploadFile" method="post"  enctype="multipart/form-data">
    <input type="file" name="excel">
    <button class="btn btn-primary" type="submit">上传</button>

  </form> -->
  <form action="addUser" method="post" >
    <input type="text" name="wxname"> &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <button class="btn btn-primary" type="submit">添加</button>

  </form>


</div>
<div class="well">
    <table class="table">
      <thead>
        <tr>
          <th>序号</th>
          <th>微信号</th>
          <td>操作</td>
        </tr>
      </thead>
      <tbody>
    <volist name="list" id="vo">
        <tr>     
          <td> {$vo.id}</td>
          <td>{$vo.name}</td>
           <td>
              <!-- <a href="{:U('edit', array('id' => $vo['id']))}"><i class="icon-pencil"></i></a> -->
              <a href="{:U('delName', array('id' => $vo['id']))}"  ><i class="icon-remove"></i></a>
          </td>
        </tr>
    </volist>
      </tbody>
    </table>
</div>


{$page}

<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Delete Confirmation</h3>
    </div>
    <div class="modal-body">
        <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-danger" data-dismiss="modal">Delete</button>
    </div>
</div>


        <include file="Public/footer"/>          
<script src="__LIB__/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
                    
            </div>
        </div>
    </div>
    <script src="https://s19.cnzz.com/z_stat.php?id=1264379929&web_id=1264379929" language="JavaScript"></script>
</block>

