<extend name="Base/common" />
<block name="body">
    <div class="content">
        
        <div class="header">
            
            <h1 class="page-title">修改支付跳转渠道</h1>
        </div>
        


        <div class="container-fluid">
            <div class="row-fluid">
				<div class="well">
					<div id="myTabContent" class="tab-content">
					<div class="tab-pane active in" id="home">
					<form id="tab" action="" method="post" enctype="multipart/form-data">
						 
					 
						<label>调换前p值</label>
						<input type="text" class="input-xlarge" value="{$pj.p_go}" name="p_go">
						 <label>调换后p值</label>
						<input type="text" class="input-xlarge" value="{$pj.p_to}" name="p_to">
						<input type="hidden"   value="{$pj.Id}" name="Id">
						<div>	
							<button class="btn btn-primary" type="submit">修改</button>
						</div>
					</form>
					<div  >
					生态手机所有wap支付: p=1 <br>
					生态微信wap支付: p=2 <br>
					生态支付宝wap支付: p=3<br>
					生态公众号内支付 p=4<br>
					生态 qq 支付: p=11 <br>
					风生水微信公众号支付: p=7 <br>
					格瑞wap支付:p=8<br>
					格瑞微信内支付: p=9 <br>
					现在 wap 支付: p=6 <br>
					现在微信内支付: p=10 
					</div>
					</div>
				  </div>
				</div>            
            </div>
        </div>
    </div>

</block>

