<extend name="Base/common" />
<block name="body">
    <div class="content">
        
        <div class="header">
            
            <h1 class="page-title">今日粉丝</h1>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
				<div class="well">
					<div id="myTabContent" class="tab-content">
					<div class="tab-pane active in" id="home">
					<form id="tab" action="" method="post" >
						<label>{:date('Y年m月d日')}粉丝数</label>
						<input type="text" class="input-xlarge" name="fans_num" value="{$today_fans.fans_num}">					
						<div>
							<input type="hidden" name="wx_id" value="{$wx_id}" />
							<input type="hidden" name="time" value="{$today_fans.time}" />
							<button class="btn btn-primary" type="submit">提交</button>
						</div>
					</form>
					</div>
				  </div>
				</div> 
<include file="Public/footer"/>  				
            </div>
        </div>
    </div>

</block>

