<extend name="Base/common" />
<block name="body">
    <div class="content">
        
        <div class="header">
            
            <h1 class="page-title">Edit User</h1>
        </div>
        
                <ul class="breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li><a href="users.html">Users</a> <span class="divider">/</span></li>
            <li class="active">User</li>
        </ul>

        <div class="container-fluid">
            <div class="row-fluid">
				<div class="well">
					<div id="myTabContent" class="tab-content">
					<div class="tab-pane active in" id="home">
					<form id="tab" action="" method="post" >
						<label>角色名</label>
						<input type="text" class="input-xlarge" name="name">
						<div>
							<button class="btn btn-primary" type="submit">添加</button>
						</div>
					</form>
					</div>
				  </div>
				</div>            
            </div>
        </div>
    </div>

</block>

