<extend name="Base/common" />
<block name="body">
<div class="content">


<script type="text/javascript"> 
    function jsCopy1(){ 
        var e=document.getElementById("content1");
        e.select(); 
        document.execCommand("Copy");     
    }
	function jsCopy2(){ 
        var e=document.getElementById("content2");
        e.select();  
        document.execCommand("Copy");    
    }
	function jsCopy3(){ 
        var e=document.getElementById("content3");
        e.select(); 
        document.execCommand("Copy");     
    }
	function jsCopy4(){ 
        var e=document.getElementById("content4");
        e.select();  
        document.execCommand("Copy");    
    }
	function jsCopy5(){ 
        var e=document.getElementById("content5");
        e.select(); 
        document.execCommand("Copy");     
    }
	function jsCopy6(){ 
        var e=document.getElementById("content6");
        e.select();  
        document.execCommand("Copy");    
    }
	function jsCopy7(){ 
        var e=document.getElementById("content7");
        e.select();  
        document.execCommand("Copy");    
    }
	function jsCopy8(){ 
        var e=document.getElementById("content8");
        e.select(); 
        document.execCommand("Copy");     
    }
	function jsCopy9(){ 
        var e=document.getElementById("content9");
        e.select();  
        document.execCommand("Copy");    
    }
	function jsCopy10(){ 
        var e=document.getElementById("content10");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy11(){ 
        var e=document.getElementById("content11");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy12(){ 
        var e=document.getElementById("content12");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy13(){ 
        var e=document.getElementById("content13");
        e.select();  
        document.execCommand("Copy");    
    }
    function jsCopy14(){ 
        var e=document.getElementById("content14");
        e.select();  
        document.execCommand("Copy");    
    }
    function jsCopy15(){ 
        var e=document.getElementById("content15");
        e.select();  
        document.execCommand("Copy");    
    }
    function jsCopy16(){ 
        var e=document.getElementById("content16");
        e.select();  
        document.execCommand("Copy");    
    }
    function jsCopy17(){ 
        var e=document.getElementById("content17");
        e.select();  
        document.execCommand("Copy");    
    }
    function jsCopy18(){ 
        var e=document.getElementById("content18");
        e.select();  
        document.execCommand("Copy");    
    }
    function jsCopy19(){ 
        var e=document.getElementById("content19");
        e.select();  
        document.execCommand("Copy");    
    }
    function jsCopy20(){ 
        var e=document.getElementById("content20");
        e.select();  
        document.execCommand("Copy");    
    }
    function jsCopy21(){ 
        var e=document.getElementById("content21");
        e.select();  
        document.execCommand("Copy");    
    }
    function jsCopy22(){ 
        var e=document.getElementById("content22");
        e.select();  
        document.execCommand("Copy");    
    }
    function jsCopy23(){ 
        var e=document.getElementById("content23");
        e.select();  
        document.execCommand("Copy");    
    }
    function jsCopy24(){ 
        var e=document.getElementById("content24");
        e.select();  
        document.execCommand("Copy");    
    }
    function jsCopy25(){ 
        var e=document.getElementById("content25");
        e.select();  
        document.execCommand("Copy");    
    }
    function jsCopy26(){ 
        var e=document.getElementById("content26");
        e.select();  
        document.execCommand("Copy");    
    }
      
</script>

<script>
	$(document).ready(function(){
    		$(".xz_tgxm li").click(function(){
        	$(this).addClass("curr").siblings().removeClass("curr");
			})
			
			$("#btn_1").click(function(){
        		$("#tg_box1").fadeIn();
				$("#tg_box2").fadeOut();
				$("#tg_box3").fadeOut();
				$("#tg_box4").fadeOut();
			})
			$("#btn_2").click(function(){
        		$("#tg_box2").fadeIn();
				$("#tg_box1").fadeOut();
				$("#tg_box3").fadeOut();
				$("#tg_box4").fadeOut();
			})
			$("#btn_3").click(function(){
        		$("#tg_box3").fadeIn();
				$("#tg_box1").fadeOut();
				$("#tg_box2").fadeOut();
				$("#tg_box4").fadeOut();
			})
			$("#btn_4").click(function(){
        		$("#tg_box4").fadeIn();
				$("#tg_box1").fadeOut();
				$("#tg_box2").fadeOut();
				$("#tg_box3").fadeOut();
			})
		})
</script>


		<style>
			.xz_tgxm{ width:100%; height:auto; float:left; margin-bottom:50px;}
			.xz_tgxm li{ width:120px; height:auto; float:left; margin-left:30px; font-size:14px; color:#333; text-align:center; line-height:25px; border:#CCC solid 1px; border-radius:5px; list-style:none;}
			.xz_tgxm li:hover{ background:#CCC;}
			.xz_tgxm .curr{background:#CCC;}
        </style>

        <div class="container-fluid" style="min-height:700px;">
            <div class="row-fluid">
				<div class="well">
					<div id="myTabContent" class="tab-content">
                    
                    <p style="font-weight:bold; margin-bottom:20px; font-size:16px;">请选择要推广项目</p>
                    
                    <ul class="xz_tgxm">
                    	<li id="btn_1">八字测算</li>
                        <li id="btn_2">八字合婚</li>
                        <li id="btn_3">姓名分析</li>
                        <li id="btn_4">在线起名</li>
                    </ul>
                    
                    <div id="tg_box1" style="display:none;">
                    <p style="font-weight:bold; margin-bottom:10px;">八字测算pc支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content10">http://{$host}/index.php/Pc/Index/index/t/{$t}</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy10()"><br/><br /><br />
                  
					<p style="font-weight:bold; margin-bottom:10px;">八字测算手机所有wap支付:</p>
					<textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content1">http://{$host}/index.php/Bzcs/Index/index/t/{$t}/p/1</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy1()"><br/><br /><br />
					<p style="font-weight:bold; margin-bottom:10px;">八字测算手机微信wap支付:</p>
					<textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content2">http://{$host}/index.php/Bzcs/Index/index/t/{$t}/p/2</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy2()"><br/><br /><br />
					<p style="font-weight:bold; margin-bottom:10px;">八字测算手机支付宝wap支付:</p>
					<textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content3">http://{$host}/index.php/Bzcs/Index/index/t/{$t}/p/3</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy3()">
                    <br/><br/><br />
                    <p style="font-weight:bold; margin-bottom:10px;">八字测算手机微信公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content19">http://{$host}/index.php/Bzcs/Index/index/t/{$t}/p/4</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy19()">
                    <br/><br/><br />
                    <p style="font-weight:bold; margin-bottom:10px;">八字测算手机app支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content11">http://{$host}/index.php/Bzcs/Index/index/t/{$t}/p/1</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy11()">
                    <br/><br/><br />
                    <p style="font-weight:bold; margin-bottom:10px;">八字测算风生水公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content23">http://{$host}/index.php/Bzcs/Index/index/t/{$t}/p/7</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy23()">
                    <br/><br/><br />
                    <p style="width:100%; height:2px; border-bottom:#CCC dashed 1px;"></p>
                    <br/>
					</div>




                    <div id="tg_box2" style="display:none;">
					<p style="font-weight:bold; margin-bottom:10px;">八字合婚手机所有wap支付:</p>
					<textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content4">http://{$host}/index.php/Bzhh/Index/index/t/{$t}/p/1</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy4()"><br/><br /><br />
                    
					<p style="font-weight:bold; margin-bottom:10px;">八字合婚手机微信wap支付:</p>
					<textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content5">http://{$host}/index.php/Bzhh/Index/index/t/{$t}/p/2</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy5()"><br/><br /><br />
					<p style="font-weight:bold; margin-bottom:10px;">八字合婚手机支付宝wap支付:</p>
					<textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content6">http://{$host}/index.php/Bzhh/Index/index/t/{$t}/p/3</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy6()">
                    <br/><br/><br />
                    <p style="font-weight:bold; margin-bottom:10px;">八字合婚手机微信公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content20">http://{$host}/index.php/Bzhh/Index/index/t/{$t}/p/4</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy20()">
                    <br/><br/><br />
                    <p style="font-weight:bold; margin-bottom:10px;">八字合婚手机app支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content12">http://{$host}/index.php/Bzhh/Index/index/t/{$t}/p/1</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy12()"><br/><br /><br />
                    <p style="font-weight:bold; margin-bottom:10px;">八字合婚风生水公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content24">http://{$host}/index.php/Bzhh/Index/index/t/{$t}/p/7</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy24()"><br/><br /><br />
                     <p style="width:100%; height:2px; border-bottom:#CCC dashed 1px;"></p>
					</div>
                    


                    <div id="tg_box3" style="display:none;">
					<p style="font-weight:bold; margin-bottom:10px;">姓名分析手机所有wap支付:</p>
					<textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content7">http://{$host}/index.php/Xmfx/Index/index/t/{$t}/p/1</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy7()"><br/><br /><br />
					<p style="font-weight:bold; margin-bottom:10px;">姓名分析手机微信wap支付:</p>
					<textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content8">http://{$host}/index.php/Xmfx/Index/index/t/{$t}/p/2</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy8()"><br/><br /><br />
					<p style="font-weight:bold; margin-bottom:10px;">姓名分析手机支付宝wap支付:</p>
					<textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content9">http://{$host}/index.php/Xmfx/Index/index/t/{$t}/p/3</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy9()">
                    <br/><br/><br />
                    <p style="font-weight:bold; margin-bottom:10px;">姓名分析手机微信公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content21">http://{$host}/index.php/Xmfx/Index/index/t/{$t}/p/4</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy21()">
                    <br/><br/><br />
                
                    <p style="font-weight:bold; margin-bottom:10px;">姓名分析app支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content13">http://{$host}/index.php/Xmfx/Index/index/t/{$t}/p/1</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy13()"><br/><br /><br />
                     <p style="font-weight:bold; margin-bottom:10px;">姓名分析风生水公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content25">http://{$host}/index.php/Xmfx/Index/index/t/{$t}/p/7</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy25()"><br/><br /><br />
                     <p style="width:100%; height:2px; border-bottom:#CCC dashed 1px;"></p>
                     </div>

                   <div id="tg_box4" style="display:none;">  
                   <p style="font-weight:bold; margin-bottom:10px;">在线起名pc支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content18">http://{$host}/index.php/Pc_zxqm/Index/index/t/{$t}</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy18()"><br/><br /><br />
                      
                    <p style="font-weight:bold; margin-bottom:10px;">在线起名手机所有wap支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content14">http://{$host}/index.php/Zxqm/Index/index/t/{$t}/p/1</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy14()"><br/><br /><br />
                    <p style="font-weight:bold; margin-bottom:10px;">在线起名手机微信wap支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content15">http://{$host}/index.php/Zxqm/Index/index/t/{$t}/p/2</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy15()"><br/><br /><br />
                    <p style="font-weight:bold; margin-bottom:10px;">在线起名手机支付宝wap支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content16">http://{$host}/index.php/Zxqm/Index/index/t/{$t}/p/3</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy16()">
                    <br/><br/><br />
                    <p style="font-weight:bold; margin-bottom:10px;">在线起名手机微信公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content22">http://{$host}/index.php/Zxqm/Index/index/t/{$t}/p/4</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy22()">
                    <br/><br/><br />
                   
                    <br/>
                    <p style="font-weight:bold; margin-bottom:10px;">在线起名app支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content17">http://{$host}/index.php/Zxqm/Index/index/t/{$t}/p/1</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy17()"><br/><br /><br />
                    <p style="font-weight:bold; margin-bottom:10px;">在线起名风生水公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content26">http://{$host}/index.php/Zxqm/Index/index/t/{$t}/p/7</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy26()"><br/><br /><br />
                     <p style="width:100%; height:2px; border-bottom:#CCC dashed 1px;"></p>
					</div>





















                    
				  </div>
				</div> 
<include file="Public/footer"/>  				
            </div>
        </div>                 
</div>
</block>

