<extend name="Base/common" />
<block name="body">
<div class="content">


<script type="text/javascript"> 
    function jsCopy1(){ 
        var e=document.getElementById("content1");
        e.select(); 
        document.execCommand("Copy");     
    }
	function jsCopy2(){ 
        var e=document.getElementById("content2");
        e.select();  
        document.execCommand("Copy");    
    }
	function jsCopy3(){ 
        var e=document.getElementById("content3");
        e.select(); 
        document.execCommand("Copy");     
    }
	function jsCopy4(){ 
        var e=document.getElementById("content4");
        e.select();  
        document.execCommand("Copy");    
    }
	function jsCopy5(){ 
        var e=document.getElementById("content5");
        e.select(); 
        document.execCommand("Copy");     
    }
	function jsCopy6(){ 
        var e=document.getElementById("content6");
        e.select();  
        document.execCommand("Copy");    
    }
	function jsCopy7(){ 
        var e=document.getElementById("content7");
        e.select();  
        document.execCommand("Copy");    
    }
	function jsCopy8(){ 
        var e=document.getElementById("content8");
        e.select(); 
        document.execCommand("Copy");     
    }
	function jsCopy9(){ 
        var e=document.getElementById("content9");
        e.select();  
        document.execCommand("Copy");    
    }
	function jsCopy10(){ 
        var e=document.getElementById("content10");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy11(){ 
        var e=document.getElementById("content11");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy12(){ 
        var e=document.getElementById("content12");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy13(){ 
        var e=document.getElementById("content13");
        e.select();  
        document.execCommand("Copy");    
    }
    function jsCopy14(){ 
        var e=document.getElementById("content14");
        e.select();  
        document.execCommand("Copy");    
    }
    function jsCopy15(){ 
        var e=document.getElementById("content15");
        e.select();  
        document.execCommand("Copy");    
    }
    function jsCopy16(){ 
        var e=document.getElementById("content16");
        e.select();  
        document.execCommand("Copy");    
    }
    function jsCopy17(){ 
        var e=document.getElementById("content17");
        e.select();  
        document.execCommand("Copy");    
    }
    function jsCopy18(){ 
        var e=document.getElementById("content18");
        e.select();  
        document.execCommand("Copy");    
    }
    function jsCopy19(){ 
        var e=document.getElementById("content19");
        e.select();  
        document.execCommand("Copy");    
    }
    function jsCopy20(){ 
        var e=document.getElementById("content20");
        e.select();  
        document.execCommand("Copy");    
    }
    function jsCopy21(){ 
        var e=document.getElementById("content21");
        e.select();  
        document.execCommand("Copy");    
    }
    function jsCopy22(){ 
        var e=document.getElementById("content22");
        e.select();  
        document.execCommand("Copy");    
    }
    function jsCopy23(){ 
        var e=document.getElementById("content23");
        e.select();  
        document.execCommand("Copy");    
    }
    function jsCopy24(){ 
        var e=document.getElementById("content24");
        e.select();  
        document.execCommand("Copy");    
    }
    function jsCopy25(){ 
        var e=document.getElementById("content25");
        e.select();  
        document.execCommand("Copy");    
    }
    function jsCopy26(){ 
        var e=document.getElementById("content26");
        e.select();  
        document.execCommand("Copy");    
    }
    function jsCopy27(){ 
        var e=document.getElementById("content27");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy28(){ 
        var e=document.getElementById("content28");
        e.select();  
        document.execCommand("Copy");    
    }  
    function jsCopy29(){ 
        var e=document.getElementById("content29");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy30(){ 
        var e=document.getElementById("content30");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy31(){ 
        var e=document.getElementById("content31");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy32(){ 
        var e=document.getElementById("content32");
        e.select();  
        document.execCommand("Copy");    
    }   
      function jsCopy33(){ 
        var e=document.getElementById("content33");
        e.select();  
        document.execCommand("Copy");    
    }  
    function jsCopy34(){ 
        var e=document.getElementById("content34");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy35(){ 
        var e=document.getElementById("content35");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy36(){ 
        var e=document.getElementById("content36");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy37(){ 
        var e=document.getElementById("content37");
        e.select();  
        document.execCommand("Copy");    
    }  
      function jsCopy38(){ 
        var e=document.getElementById("content38");
        e.select();  
        document.execCommand("Copy");    
    }  
    function jsCopy39(){ 
        var e=document.getElementById("content39");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy40(){ 
        var e=document.getElementById("content40");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy41(){ 
        var e=document.getElementById("content41");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy42(){ 
        var e=document.getElementById("content42");
        e.select();  
        document.execCommand("Copy");    
    }  
    function jsCopy43(){ 
        var e=document.getElementById("content43");
        e.select();  
        document.execCommand("Copy");    
    }   
    function jsCopy44(){ 
        var e=document.getElementById("content44");
        e.select();  
        document.execCommand("Copy");    
    }  
    function jsCopy45(){ 
        var e=document.getElementById("content45");
        e.select();  
        document.execCommand("Copy");    
    }   	
    function jsCopy46(){ 
        var e=document.getElementById("content46");
        e.select();  
        document.execCommand("Copy");    
    } 
     function jsCopy47(){ 
        var e=document.getElementById("content47");
        e.select();  
        document.execCommand("Copy");    
    }  
     function jsCopy48(){ 
        var e=document.getElementById("content48");
        e.select();  
        document.execCommand("Copy");    
    }  
     function jsCopy49(){ 
        var e=document.getElementById("content49");
        e.select();  
        document.execCommand("Copy");    
    }  
     function jsCopy50(){ 
        var e=document.getElementById("content50");
        e.select();  
        document.execCommand("Copy");    
    }  
     function jsCopy51(){ 
        var e=document.getElementById("content51");
        e.select();  
        document.execCommand("Copy");    
    }  
     function jsCopy52(){ 
        var e=document.getElementById("content42");
        e.select();  
        document.execCommand("Copy");    
    }  
     function jsCopy53(){ 
        var e=document.getElementById("content53");
        e.select();  
        document.execCommand("Copy");    
    }  
     function jsCopy54(){ 
        var e=document.getElementById("content54");
        e.select();  
        document.execCommand("Copy");    
    }  
     function jsCopy55(){ 
        var e=document.getElementById("content55");
        e.select();  
        document.execCommand("Copy");    
    }  
     function jsCopy56(){ 
        var e=document.getElementById("content56");
        e.select();  
        document.execCommand("Copy");    
    }  
    function jsCopy57(){ 
        var e=document.getElementById("content57");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy58(){ 
        var e=document.getElementById("content58");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy59(){ 
        var e=document.getElementById("content59");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy60(){ 
        var e=document.getElementById("content60");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy61(){ 
        var e=document.getElementById("content61");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy62(){ 
        var e=document.getElementById("content62");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy63(){ 
        var e=document.getElementById("content63");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy64(){ 
        var e=document.getElementById("content64");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy65(){ 
        var e=document.getElementById("content65");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy66(){ 
        var e=document.getElementById("content66");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy67(){ 
        var e=document.getElementById("content67");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy68(){ 
        var e=document.getElementById("content68");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy69(){ 
        var e=document.getElementById("content69");
        e.select();  
        document.execCommand("Copy");    
    } 
    function jsCopy70(){ 
        var e=document.getElementById("content70");
        e.select();  
        document.execCommand("Copy");    
    }   	 	
</script>

<script>
	$(document).ready(function(){
    		$(".xz_tgxm li").click(function(){
        	$(this).addClass("curr").siblings().removeClass("curr");
			})
			
			$("#btn_1").click(function(){
        		$("#tg_box1").fadeIn();
				$("#tg_box2").fadeOut();
				$("#tg_box3").fadeOut();
				$("#tg_box4").fadeOut();
                $("#tg_box5").fadeOut();
                $("#tg_box6").fadeOut();
			})
			$("#btn_2").click(function(){
        		$("#tg_box2").fadeIn();
				$("#tg_box1").fadeOut();
				$("#tg_box3").fadeOut();
				$("#tg_box4").fadeOut();
                $("#tg_box5").fadeOut();
                $("#tg_box6").fadeOut();
			})
			$("#btn_3").click(function(){
        		$("#tg_box3").fadeIn();
				$("#tg_box1").fadeOut();
				$("#tg_box2").fadeOut();
				$("#tg_box4").fadeOut();
                $("#tg_box5").fadeOut();
                $("#tg_box6").fadeOut();
			})
			$("#btn_4").click(function(){
        		$("#tg_box4").fadeIn();
				$("#tg_box1").fadeOut();
				$("#tg_box2").fadeOut();
				$("#tg_box3").fadeOut();
                $("#tg_box5").fadeOut();
                $("#tg_box6").fadeOut();
			})
            $("#btn_5").click(function(){
                $("#tg_box5").fadeIn();
                $("#tg_box1").fadeOut();
                $("#tg_box2").fadeOut();
                $("#tg_box3").fadeOut();
                $("#tg_box4").fadeOut();
                $("#tg_box6").fadeOut();
            })
            $("#btn_6").click(function(){
                $("#tg_box6").fadeIn();
                $("#tg_box1").fadeOut();
                $("#tg_box2").fadeOut();
                $("#tg_box3").fadeOut();
                $("#tg_box5").fadeOut();
                $("#tg_box4").fadeOut();
            })
            $("#btn_7").click(function(){
                $("#tg_box7").fadeIn();
                $("#tg_box1").fadeOut();
                $("#tg_box2").fadeOut();
                $("#tg_box3").fadeOut();
                $("#tg_box5").fadeOut();
                $("#tg_box4").fadeOut();
                $("#tg_box6").fadeOut();
            })
		})
</script>


		<style>
			.xz_tgxm{ width:100%; height:auto; float:left; margin-bottom:50px;}
			.xz_tgxm li{ width:120px; height:auto; float:left; margin-left:30px; font-size:14px; color:#333; text-align:center; line-height:25px; border:#CCC solid 1px; border-radius:5px; list-style:none;}
			.xz_tgxm li:hover{ background:#CCC;}
			.xz_tgxm .curr{background:#CCC;}
        </style>

        <div class="container-fluid">
            <div class="row-fluid">
				<div class="well">
                
					<div id="myTabContent" class="tab-content">
                    
                    <p style="font-weight:bold; margin-bottom:20px; font-size:16px;">请选择要推广项目</p>
                    
                    <ul class="xz_tgxm">
                    	<li id="btn_1">八字测算</li>
                        <li id="btn_2">八字合婚</li>
                        <li id="btn_3">姓名分析</li>
                        <li id="btn_4">在线起名</li>
                        <li id="btn_5">紫微排盘</li>
                        <li id="btn_6">周公解梦</li>
                        <li id="btn_7">抽签</li>
                    </ul>
                    
                    <div id="tg_box1" style="display:none;">
                    <p style="font-weight:bold; margin-bottom:10px;">八字测算pc支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content10">http://{$host}/index.php/Pc/Index/index/t/{$t}</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy10()"><br/><br /><br />
					<p style="font-weight:bold; margin-bottom:10px;">八字测算pc格瑞微信扫码支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content42">http://{$host}/index.php/Pc/Index/index/t/{$t}/p/9</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy42()"><br/><br /><br />
                  
					<p style="font-weight:bold; margin-bottom:10px;">八字测算手机所有wap支付:</p>
					<textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content1">http://{$host}/index.php/Bzcs/Index/index/t/{$t}/p/1</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy1()"><br/><br /><br />
					<p style="font-weight:bold; margin-bottom:10px;">八字测算手机微信wap支付:</p>
					<textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content2">http://{$host}/index.php/Bzcs/Index/index/t/{$t}/p/2</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy2()"><br/><br /><br />
					<p style="font-weight:bold; margin-bottom:10px;">八字测算手机支付宝wap支付:</p>
					<textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content3">http://{$host}/index.php/Bzcs/Index/index/t/{$t}/p/3</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy3()">
                    <br/><br/><br />
                    <p style="font-weight:bold; margin-bottom:10px;">八字测算手机微信公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content19">http://{$host}/index.php/Bzcs/Index/index/t/{$t}/p/4</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy19()">
                    <br/><br/><br />
                    <p style="font-weight:bold; margin-bottom:10px;">八字测算手机app支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content11">http://{$host}/index.php/Bzcs/Index/index/t/{$t}/p/1</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy11()">
                    <br/><br/><br />
                    <p style="font-weight:bold; margin-bottom:10px;">八字测算风生水公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content23">http://{$host}/index.php/Bzcs/Index/index/t/{$t}/p/7</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy23()">
                    <br/><br/><br />
					<p style="font-weight:bold; margin-bottom:10px;">八字测算手机格瑞wap支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content27">http://{$host}/index.php/Bzcs/Index/index/t/{$t}/p/8</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy27()">
                    <br/><br/><br />
					<p style="font-weight:bold; margin-bottom:10px;">八字测算手机格瑞微信内支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content28">http://{$host}/index.php/Bzcs/Index/index/t/{$t}/p/9</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy28()">
                    <br/><br/><br />
                    <p style="font-weight:bold; margin-bottom:10px;">八字测算手机现在wap支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content47">http://{$host}/index.php/Bzcs/Index/index/t/{$t}/p/6</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy47()">
                    <br/><br/><br />
                    <p style="font-weight:bold; margin-bottom:10px;">八字测算PC现在扫码支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content48">http://{$host}/index.php/Pc/Index/index/t/{$t}/p/6</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy48()">
                    <br/><br/><br />
                 
                    <p style="font-weight:bold; margin-bottom:10px;">八字测算手机现在微信公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content49">http://{$host}/index.php/Bzcs/Index/index/t/{$t}/p/10</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy49()">
                    <br/><br/><br />
        






                    <p style="width:100%; height:2px; border-bottom:#CCC dashed 1px;"></p>
                    <br/>
					</div>



    
                    <div id="tg_box2" style="display:none;">
					<p style="font-weight:bold; margin-bottom:10px;">八字合婚手机所有wap支付:</p>
					<textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content4">http://{$host}/index.php/Bzhh/Index/index/t/{$t}/p/1</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy4()"><br/><br /><br />
                    
					<p style="font-weight:bold; margin-bottom:10px;">八字合婚手机微信wap支付:</p>
					<textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content5">http://{$host}/index.php/Bzhh/Index/index/t/{$t}/p/2</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy5()"><br/><br /><br />

                    <p style="font-weight:bold; margin-bottom:10px;">八字合婚PC支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content43">http://{$host}/index.php/Pc_bzhh/Index/index/t/{$t}</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy43()"><br/><br /><br />
					<p style="font-weight:bold; margin-bottom:10px;">八字合婚手机支付宝wap支付:</p>
					<textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content6">http://{$host}/index.php/Bzhh/Index/index/t/{$t}/p/3</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy6()">
                    <br/><br/><br />
                    <p style="font-weight:bold; margin-bottom:10px;">八字合婚手机微信公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content20">http://{$host}/index.php/Bzhh/Index/index/t/{$t}/p/4</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy20()">
                    <br/><br/><br />
                    <p style="font-weight:bold; margin-bottom:10px;">八字合婚手机app支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content12">http://{$host}/index.php/Bzhh/Index/index/t/{$t}/p/1</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy12()"><br/><br /><br />
                    <p style="font-weight:bold; margin-bottom:10px;">八字合婚风生水公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content24">http://{$host}/index.php/Bzhh/Index/index/t/{$t}/p/7</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy24()"><br/><br /><br />
                     <p style="font-weight:bold; margin-bottom:10px;">八字合婚手机现在wap支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content50">http://{$host}/index.php/Bzhh/Index/index/t/{$t}/p/6</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy50()">
                    <br/><br/><br />
                    <p style="font-weight:bold; margin-bottom:10px;">八字合婚PC现在扫码支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content51">http://{$host}/index.php/Pc_bzhh/Index/index/t/{$t}/p/6</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy51()">
                    <br/><br/><br />
                 
                    <p style="font-weight:bold; margin-bottom:10px;">八字合婚手机现在微信公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content52">http://{$host}/index.php/Bzhh/Index/index/t/{$t}/p/10</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy52()">
                    <br/><br/><br />









                     <p style="width:100%; height:2px; border-bottom:#CCC dashed 1px;"></p>
					</div>


                    <div id="tg_box3" style="display:none;">
					<p style="font-weight:bold; margin-bottom:10px;">姓名分析手机所有wap支付:</p>
					<textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content7">http://{$host}/index.php/Xmfx/Index/index/t/{$t}/p/1</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy7()"><br/><br /><br />
					<p style="font-weight:bold; margin-bottom:10px;">姓名分析手机微信wap支付:</p>
					<textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content8">http://{$host}/index.php/Xmfx/Index/index/t/{$t}/p/2</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy8()"><br/><br /><br />
					<p style="font-weight:bold; margin-bottom:10px;">姓名分析手机支付宝wap支付:</p>
					<textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content9">http://{$host}/index.php/Xmfx/Index/index/t/{$t}/p/3</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy9()">
                    <br/><br/><br />
                    <p style="font-weight:bold; margin-bottom:10px;">姓名分析手机微信公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content21">http://{$host}/index.php/Xmfx/Index/index/t/{$t}/p/4</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy21()">
                    <br/><br/><br />
                
                    <p style="font-weight:bold; margin-bottom:10px;">姓名分析app支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content13">http://{$host}/index.php/Xmfx/Index/index/t/{$t}/p/1</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy13()"><br/><br /><br />
                     <p style="font-weight:bold; margin-bottom:10px;">姓名分析风生水公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content25">http://{$host}/index.php/Xmfx/Index/index/t/{$t}/p/7</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy25()"><br/><br /><br />
                     <p style="font-weight:bold; margin-bottom:10px;">姓名分析手机现在wap支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content53">http://{$host}/index.php/Xmfx/Index/index/t/{$t}/p/6</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy53()">
                    <br/><br/><br />
                
                    <p style="font-weight:bold; margin-bottom:10px;">姓名分析手机现在微信公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content54">http://{$host}/index.php/Xmfx/Index/index/t/{$t}/p/10</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy54()">
                    <br/><br/><br />
                    
            


                     <p style="width:100%; height:2px; border-bottom:#CCC dashed 1px;"></p>
                     </div>
                     
                     

                   <div id="tg_box4" style="display:none;">  
                   <p style="font-weight:bold; margin-bottom:10px;">在线起名pc支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content18">http://{$host}/index.php/Pc_zxqm/Index/index/t/{$t}</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy18()"><br/><br /><br />
					<p style="font-weight:bold; margin-bottom:10px;">在线起名pc格瑞微信扫码支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content44">http://{$host}/index.php/Pc_zxqm/Index/index/t/{$t}/p/9</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy44()"><br/><br /><br />
                      
                    <p style="font-weight:bold; margin-bottom:10px;">在线起名手机所有wap支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content14">http://{$host}/index.php/Zxqm/Index/index/t/{$t}/p/1</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy14()"><br/><br /><br />
                    <p style="font-weight:bold; margin-bottom:10px;">在线起名手机微信wap支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content15">http://{$host}/index.php/Zxqm/Index/index/t/{$t}/p/2</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy15()"><br/><br /><br />
                    <p style="font-weight:bold; margin-bottom:10px;">在线起名手机支付宝wap支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content16">http://{$host}/index.php/Zxqm/Index/index/t/{$t}/p/3</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy16()">
                    <br/><br/><br />
                    <p style="font-weight:bold; margin-bottom:10px;">在线起名手机微信公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content22">http://{$host}/index.php/Zxqm/Index/index/t/{$t}/p/4</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy22()">
                    <br/><br/><br />
                   
                    <br/>
                    <p style="font-weight:bold; margin-bottom:10px;">在线起名app支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content17">http://{$host}/index.php/Zxqm/Index/index/t/{$t}/p/1</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy17()"><br/><br /><br />
                    <p style="font-weight:bold; margin-bottom:10px;">在线起名风生水公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content26">http://{$host}/index.php/Zxqm/Index/index/t/{$t}/p/7</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy26()"><br/><br /><br />
					<p style="font-weight:bold; margin-bottom:10px;">在线起名手机格瑞wap支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content45">http://{$host}/index.php/Zxqm/Index/index/t/{$t}/p/8</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy45()">
                    <br/><br/><br />
					<p style="font-weight:bold; margin-bottom:10px;">在线起名手机格瑞微信内支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content46">http://{$host}/index.php/Zxqm/Index/index/t/{$t}/p/9</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy46()">
                    <br/><br/><br />
                    <p style="font-weight:bold; margin-bottom:10px;">在线起名手机现在wap支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content55">http://{$host}/index.php/Zxqm/Index/index/t/{$t}/p/6</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy55()">
                    <br/><br/><br />
                    <p style="font-weight:bold; margin-bottom:10px;">在线起名PC现在扫码支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content56">http://{$host}/index.php/Pc_zxqm/Index/index/t/{$t}/p/6</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy56()">
                    <br/><br/><br />
                 
                    <p style="font-weight:bold; margin-bottom:10px;">在线起名手机现在微信公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content57">http://{$host}/index.php/Zxqm/Index/index/t/{$t}/p/10</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy57()">
                    <br/><br/><br />




                     <p style="width:100%; height:2px; border-bottom:#CCC dashed 1px;"></p>
                     </div>


















        
                         


                      <div id="tg_box5" style="display:none;">  
                 
                      
                    <p style="font-weight:bold; margin-bottom:10px;">紫薇排盘手机所有wap支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content29">http://{$host}/index.php/Zwpp/Index/index/t/{$t}/p/1</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy29()"><br/><br /><br />
                    <p style="font-weight:bold; margin-bottom:10px;">紫薇排盘手机微信wap支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content30">http://{$host}/index.php/Zwpp/Index/index/t/{$t}/p/2</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy30()"><br/><br /><br />
                    <p style="font-weight:bold; margin-bottom:10px;">紫薇排盘手机支付宝wap支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content31">http://{$host}/index.php/Zwpp/Index/index/t/{$t}/p/3</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy31()">
                    <br/><br/><br />
                    <p style="font-weight:bold; margin-bottom:10px;">紫薇排盘手机微信公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content32">http://{$host}/index.php/Zwpp/Index/index/t/{$t}/p/4</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy32()">
                    <br/><br/><br />
                   
                    <br/>
                    <p style="font-weight:bold; margin-bottom:10px;">紫薇排盘app支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content33">http://{$host}/index.php/Zwpp/Index/index/t/{$t}/p/1</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy33()"><br/><br /><br />
                    <p style="font-weight:bold; margin-bottom:10px;">紫薇排盘风生水公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content34">http://{$host}/index.php/Zwpp/Index/index/t/{$t}/p/7</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy34()"><br/><br /><br />
                    <p style="font-weight:bold; margin-bottom:10px;">紫薇排盘手机现在wap支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content58">http://{$host}/index.php/Zwpp/Index/index/t/{$t}/p/6</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy58()">
                    <br/><br/><br />
                   
                 
                    <p style="font-weight:bold; margin-bottom:10px;">紫薇排盘手机现在微信公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content59">http://{$host}/index.php/Zwpp/Index/index/t/{$t}/p/10</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy59()">
                    <br/><br/><br />
                     <p style="width:100%; height:2px; border-bottom:#CCC dashed 1px;"></p>
                     </div>












                      <div id="tg_box6" style="display:none;">  
                   <p style="font-weight:bold; margin-bottom:10px;">周公解梦pc支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content35">http://{$host}/index.php/Pc_zgjm1/Index/index/t/{$t}</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy35()"><br/><br /><br />
                      
                    <p style="font-weight:bold; margin-bottom:10px;">周公解梦手机所有wap支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content36">http://{$host}/index.php/Zgjm1/Index/index/t/{$t}/p/1</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy36()"><br/><br /><br />
                    <p style="font-weight:bold; margin-bottom:10px;">周公解梦手机微信wap支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content37">http://{$host}/index.php/Zgjm1/Index/index/t/{$t}/p/2</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy37()"><br/><br /><br />
                    <p style="font-weight:bold; margin-bottom:10px;">周公解梦手机支付宝wap支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content38">http://{$host}/index.php/Zgjm1/Index/index/t/{$t}/p/3</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy38()">
                    <br/><br/><br />
                    <p style="font-weight:bold; margin-bottom:10px;">周公解梦手机微信公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content39">http://{$host}/index.php/Zgjm1/Index/index/t/{$t}/p/4</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy39()">
                    <br/><br/><br />
                   
                    <br/>
                    <p style="font-weight:bold; margin-bottom:10px;">周公解梦app支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content40">http://{$host}/index.php/Zgjm1/Index/index/t/{$t}/p/1</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy40()"><br/><br /><br />
                    <p style="font-weight:bold; margin-bottom:10px;">周公解梦风生水公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content41">http://{$host}/index.php/Zgjm1/Index/index/t/{$t}/p/7</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy41()"><br/><br /><br />
                     <p style="font-weight:bold; margin-bottom:10px;">周公解梦手机现在wap支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content60">http://{$host}/index.php/Zgjm1/Index/index/t/{$t}/p/6</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy60()">
                    <br/><br/><br />
                    <p style="font-weight:bold; margin-bottom:10px;">周公解梦PC现在扫码支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content61">http://{$host}/index.php/Pc_zgjm1/Index/index/t/{$t}/p/6</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy61()">
                    <br/><br/><br />
                 
                    <p style="font-weight:bold; margin-bottom:10px;">周公解梦手机现在微信公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content62">http://{$host}/index.php/Zgjm1/Index/index/t/{$t}/p/10</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy62()">
                    <br/><br/><br />
    				  <p style="width:100%; height:2px; border-bottom:#CCC dashed 1px;"></p>
                     </div>



					<div id="tg_box7" style="display:none;">  
                  
                      
                    <p style="font-weight:bold; margin-bottom:10px;">抽签手机所有wap支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content63">http://{$host}/index.php/Chouqian/Index/index/t/{$t}/p/1</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy63()"><br/><br /><br />
                    <p style="font-weight:bold; margin-bottom:10px;">抽签手机微信wap支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content64">http://{$host}/index.php/Chouqian/Index/index/t/{$t}/p/2</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy64()"><br/><br /><br />
                    <p style="font-weight:bold; margin-bottom:10px;">抽签手机支付宝wap支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content65">http://{$host}/index.php/Chouqian/Index/index/t/{$t}/p/3</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy65()">
                    <br/><br/><br />
                    <p style="font-weight:bold; margin-bottom:10px;">抽签手机微信公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content66">http://{$host}/index.php/Chouqian/Index/index/t/{$t}/p/4</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy66()">
                    <br/><br/><br />
                   
                    <br/>
                    <p style="font-weight:bold; margin-bottom:10px;">抽签app支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content67">http://{$host}/index.php/Chouqian/Index/index/t/{$t}/p/1</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy67()"><br/><br /><br />
                    <p style="font-weight:bold; margin-bottom:10px;">抽签风生水公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content68">http://{$host}/index.php/Chouqian/Index/index/t/{$t}/p/7</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy68()"><br/><br /><br />
                     <p style="font-weight:bold; margin-bottom:10px;">抽签手机现在wap支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content69">http://{$host}/index.php/Chouqian/Index/index/t/{$t}/p/6</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy69()">
                    <br/><br/><br />
                 
                    <p style="font-weight:bold; margin-bottom:10px;">抽签手机现在微信公众号支付:</p>
                    <textarea readonly="readonly" name="content"  style="float:left; width:500px; height:20px; max-width:500px; max-height:20px;" id="content70">http://{$host}/index.php/Chouqian/Index/index/t/{$t}/p/10</textarea><input type="button" style="float:left; margin-left:10px;" value="复制链接" onclick="jsCopy70()">
                    <br/><br/><br />

				 




                     <p style="width:100%; height:2px; border-bottom:#CCC dashed 1px;"></p>
                     </div>

				  </div>
                  
                  
				</div> 
<include file="Public/footer"/>  				
            </div>
        </div>                 
</div>
</block>

