<extend name="Base/common" />
<block name="body">
    <div class="content">
        
        <div class="header">
            
            <h1 class="page-title">批量添加微信</h1>
        </div>
        


        <div class="container-fluid">
            <div class="row-fluid">
				<div class="well">
					<div id="myTabContent" class="tab-content">
					<div class="tab-pane active in" id="home">
					<form id="tab" action="" method="post" enctype="multipart/form-data">
						<label>t</label>
						<input type="text" class="input-xlarge" value="{$ids}" readonly>
						<label>微信号</label>
						<input type="text" class="input-xlarge" name="wx">
						<label>二维码</label>
						<input name="qrcode" type="file" />
						<div>	
							<input type="hidden" name="ids" value="{$ids}" >
							<input type="hidden" name="do" value="add_wx" >
							<button class="btn btn-primary" type="submit" name="do_post" value="do_post">添加</button>
						</div>
					</form>
					</div>
				  </div>
				</div>            
            </div>
        </div>
    </div>

</block>

