<extend name="Base/common" />
<block name="body">
    <div class="content">
        
        <div class="header">
            
            <h1 class="page-title">编辑广告位</h1>
        </div>

<style>
.ds div{float: left;width: 36%;}
</style>
        <div class="container-fluid">
            <div class="row-fluid">
				<div class="well">
					<div id="myTabContent" class="tab-content">
					<div class="tab-pane active in" id="home">
					<form id="tab" action="" method="post" >
						<label>t</label>
						<input type="text" class="input-xlarge" name="t" value="{$t_info.id}" disabled="disabled">
						<label>广告位名称</label>
						<input type="text" class="input-xlarge" name="name" value="{$t_info.name}">	
						<if condition="($_SESSION['username'] eq admin)  ">  
						 <label>广告位价格</label>
			     		<input type="text" class="input-xlarge" name="yh_price" value="{$t_info.yh_price}">	<span style="font-size: 12px;color: red;">(注意输入价格,小数点保留两位,例如:28.00)</span>	
						
			   			 </if>			
						<label>底部公司名称</label>
						<input type="text" class="input-xlarge" name="company" value="{$t_info.company}">
						<label>支付页微信是否显示</label>
						<select name="wx_show">
							<volist name="wx_show" id="vo">
								<option value="{$key}" <if condition="$t_info['wx_show'] eq $key">selected="selected"</if>>{$vo}</option>
							</volist>
						</select>
							<label>推广手链内容是否显示:</label>
						<select name="sl_show">
							<volist name="sl_show" id="vo">
								<option value="{$key}" <if condition="$t_info['sl_show'] eq $key">selected="selected"</if>>{$vo}</option>
							</volist>
						</select>
						<label>首页案例是否显示</label>
						<select name="anli_show">
							<volist name="anli_show" id="vo">
								<option value="{$key}" <if condition="$t_info['anli_show'] eq $key">selected="selected"</if>>{$vo}</option>
							</volist>
						</select>
						<!-- <label>添加大师"好友"变"微信"</label>
						<select name="wx_et">
							<volist name="wx_et" id="vo">
								<option value="{$key}" <if condition="$t_info['wx_et'] eq $key">selected="selected"</if>>{$vo}</option>
							</volist>
						</select> -->
						<div>
								<label>"好友"变"微信"时间段<span style="margin-left: 40px;" class="et_time"  ><input type="button" value="添加所有时间段" 
onclick="return false;"></span></label>
								<textarea class="wx_show_time"  style="width:270px;" name="wx_show_time">{$t_info.wx_show_time}</textarea>
						</div>
						
						<fieldset>
							<legend>审核跳转</legend>
							广告投放域名：<input type="text"  name="sh_host" value="{$t_info.sh_host}" placeholder="不带http,可填完整域名或顶级域名"/>
							审核跳转链接：<input type="text" style="width:270px;"  name="sh_jump_url" value="{$t_info.sh_jump_url}" placeholder="要带http://"/>
						 </fieldset>
						
						<div class="ds">
							<div>
								<label>PC版八字测算CNZZ统计代码</label>
								<textarea  style="width:270px;" name="pc_bzcs_tongji">{$t_info.pc_bzcs_tongji}</textarea>
							</div>
							<div>
								<label>PC版八字合婚测算CNZZ统计代码</label>
								<textarea style="width:270px;" name="pc_bzhh_tongji">{$t_info.pc_bzhh_tongji}</textarea>
						    </div>
							<div>	
								<label>PC版姓名分析测算CNZZ统计代码</label>
								<textarea style="width:270px;" name="pc_xmfx_tongji">{$t_info.pc_xmfx_tongji}</textarea>
							 </div>
							<div>
								<label>PC版在线起名测算CNZZ统计代码</label>
								<textarea style="width:270px;" name="pc_zxqm_tongji">{$t_info.pc_zxqm_tongji}</textarea>
							 </div>
							<div>
								<label>八字测算CNZZ统计代码</label>
								<textarea style="width:270px;" name="bzcs_tongji">{$t_info.bzcs_tongji}</textarea>
							 </div>
							<div>		
								<label>八字合婚CNZZ统计代码</label>
								<textarea style="width:270px;" name="bzhh_tongji">{$t_info.bzhh_tongji}</textarea>
							 </div>
							<div>	
								<label>姓名分析CNZZ统计代码</label>
								<textarea style="width:270px;" name="xmfx_tongji">{$t_info.xmfx_tongji}</textarea>
							 </div>
							<div>
								<label>在线起名CNZZ统计代码</label>
								<textarea style="width:270px;" name="zxqm_tongji">{$t_info.zxqm_tongji}</textarea>
							 
						</div>
						<div>
								<label>紫薇排盘CNZZ统计代码</label>
								<textarea style="width:270px;" name="zwpp_tongji">{$t_info.zwpp_tongji}</textarea>
							 
						</div>
						<div>
								<label>周公解梦CNZZ统计代码</label>
								<textarea style="width:270px;" name="zgjm_tongji">{$t_info.zgjm_tongji}</textarea>
							 
						</div>
						 
							<input type="hidden" name="id" value="{$t_info.id}" />
							
						</div>
						<div style="width: 100%;float: left">
						<button   class="btn btn-primary" type="submit">修改</button>
						</div>
					</form>
					</div>
				  </div>
				</div>            
            </div>
        </div>
    </div>
<script>
$(function(){
		 
	$('.et_time').click(function(){
 
	 $('.wx_show_time').val("0-1-2-3-4-5-6-7-8-9-10-11-12-13-14-15-16-17-18-19-20-21-22-23-24");
	})
})

</script>
</block>

