<extend name="Base/common" />
<block name="body">
 <div class="content">
        
        <div class="header">
            
            <h1 class="page-title">推广商排行</h1>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                    
<div class="well">
    <table class="table">
      <thead>
        <tr>
          <th clospan="5">今日排行</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>名称</td>
		  <td>总额</td>
		  <td>笔数</td>
        </tr>
		<volist name="today" id="vo">
		<tr>
          <td>{$vo.tgs}</td>
          <td>{:fen2yuan($vo['pay_fee'])}</td>
		  <td>{$vo.pay_count}</td>
        </tr>
		</volist>
      </tbody>
    </table>
	
	<table class="table">
      <thead>
        <tr>
          <th clospan="5">昨日排行</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>名称</td>
		  <td>总额</td>
		  <td>笔数</td>
        </tr>
		<volist name="yesterday" id="vo">
		<tr>
          <td>{$vo.tgs}</td>
          <td>{:fen2yuan($vo['pay_fee'])}</td>
		  <td>{$vo.pay_count}</td>
        </tr>
		</volist>
      </tbody>
    </table>




        <include file="Public/footer"/>          
<script src="__LIB__/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
                    
            </div>
        </div>
    </div>
</block>

