<!-- <!DOCTYPE html>
<html>
<head>
	<title>修改分类</title>
</head>
<body>
<form action="{:U('editCate')}" method="post">
	分类名：<input type="text" name="cate" value="{$list['name']}">
	<input type="hidden" value="{$list['id']}" name="cate_id">
	<input type="submit" value="修改" name="">
</form>
</body>
</html> -->

<extend name="Base/common" />
<block name="body">
    <div class="content">
        
        <div class="header">
            
            <h1 class="page-title">编辑分类</h1>
        </div>
        

        <div class="container-fluid">
            <div class="row-fluid">
				<div class="well">
					<div id="myTabContent" class="tab-content">
					<div class="tab-pane active in" id="home">
					<form id="tab" action="{:U('editCate')}" method="post" >
						<label>分类名</label>
						<input type="text" class="input-xlarge" value="{$user.name}" name="cate" >
						<input type="hidden" value="{$user['id']}" name="cate_id">

						<div>
							<input type="hidden" value="{$user.id}" name="class_id">
							<button class="btn btn-primary" type="submit">修改</button>
						</div>
					</form>
					</div>
				  </div>
				</div>  
<include file="Public/footer"/> 				
            </div>
        </div>
    </div>

</block>

