<extend name="Base/common" />
<block name="body">
    <div class="content">
        
        <div class="header">
            
            <h1 class="page-title">添加用户</h1>

        <div class="container-fluid">
            <div class="row-fluid">
				<div class="well">
					<div id="myTabContent" class="tab-content">
					<div class="tab-pane active in" id="home">
					<form id="tab" action="" method="post"  enctype="multipart/form-data">
						<label>分类</label>
						<select name="cate_id">
						<volist name="cate" id="vo">
							<option value="{$vo.id}">{$vo.name}</option>
						</volist>
						</select>
						<label>标题</label>
						<input type="text" class="input-xlarge" name="title">
						<label>原价格</label>
						<input type="text" class="input-xlarge" name="a_price">
						<label>优惠价</label>
						<input type="text" class="input-xlarge" name="b_price">
						<label>是否推荐</label>
						<select name="is_show">
							<option value="1">是</option>
							<option value="2">否</option>
						</select>
						<label>音频</label>
						<input type="file" class="input-xlarge" name="audio">
						<label>图片</label>
						<input type="file" class="input-xlarge" name="photo">
						<label>文章详情</label>
						<textarea name="article"></textarea>
						<div>
							<button class="btn btn-primary" type="submit">添加</button>
						</div>
					</form>
					</div>
				  </div>
				</div>   
<include file="Public/footer"/> 				
            </div>
        </div>
    </div>

</block>

