<extend name="Base/common" />
<block name="body">
 <div class="content">
        
        <div class="header">
            
            <h1 class="page-title">学堂列表</h1>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                    
<div class="btn-toolbar">
	<form action="{:U('index')}" method="get" style="float:right;">
		用户名:<input type="text" style="width: 130px;" name='username' value="{:urldecode($map['username'])}" />	
		推广域名:<input type="text" style="width: 180px;" name='tuiguang_host' value="{:urldecode($map['tuiguang_host'])}" />
		<button class="btn btn-primary" type="submit" style="margin-bottom:10px;">搜索</button>
		<div class="btn-group">
		</div>
	</form>
    <a class="btn btn-primary" href="{:U('addClass')}"><i class="icon-plus"></i>添加学堂</a>
	<div class="btn-group">
	</div>
</div>
<div class="well">
    <table class="table">
      <thead>
        <tr>
            <td>id</td>
			<td>分类</td>
			<td>标题</td>
			<td>原价格</td>
			<td>现价格</td>
			<!-- <td>音频</td>
			<td>图片</td> -->
			<td>文章</td>
			<td>操作</td>
        </tr>
      </thead>
      <tbody>
	  <volist name="list" id="vo">
        <tr>
          <tr>
			<td>{$vo.id}</td>
			<td>{$vo.cate_id}</td>
			<td>{$vo.title}</td>
			<td>{$vo.a_price}</td>
			<td>{$vo.b_price}</td>
			<!-- <td>{$vo.audio}</td>
			<td>{$vo.pictrue}</td> -->
			<td>{$vo.article}</td>
          <td>
              <a href="{:U('editClass', array('id' => $vo['id']))}"><i class="icon-pencil"></i></a>
              <a href="{:U('delClass', array('id' => $vo['id']))}"  ><i class="icon-remove"></i></a>
          </td>
        </tr>
	  </volist>
      </tbody>
    </table>
</div>


{$page}

        <include file="Public/footer"/>          

                    
            </div>
        </div>
    </div>
</block>

