<extend name="Base/common" />
<block name="body">
 <div class="content">
        
        <div class="header">
            
            <h1 class="page-title">微信号管理</h1>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                    
<div class="btn-toolbar">
	<form action="{:U('index')}" method="get" style="float:right;">
		t:<input type="text" style="width: 130px;" name='t' value="{:urldecode($map['t'])}" />
		微信:<input type="text" style="width: 180px;" name='wx' value="{:urldecode($map['wx'])}" />
		<button class="btn btn-primary" type="submit" style="margin-bottom:10px;">搜索</button>
		<div class="btn-group">
		</div>
	</form>
    <a class="btn btn-primary" href="{:U('add')}"><i class="icon-plus"></i>添加微信号</a>
	<div class="btn-group">
	</div>
</div>
<form action="{:U('all_action')}" method="post" >
<div class="well">
    <table class="table">
      <thead>
        <tr>
		  <th><input type="checkbox" id="ck_all" /></th>
		  <th>t</th>
		  <th>广告位名称</th>
		  <th>推广商</th>
		  <th>微信号</th>
		  <th style="text-align:center;">{:date('Y-m-d')}加粉数</th>
		  <th style="text-align:center;">累计加粉数</th>
          <th style="text-align:center;">操作</th>
        </tr>
      </thead>
      <tbody>
	  <volist name="list" id="vo">
        <tr>
		  <th><input type="checkbox" name="ids[]" value="{$vo['id']}" /></th>
		  <td>{$vo.t}</td>
		  <td>{$vo.ad_name}</td>
		  <td>{$vo.tgs}</td>
		  <td>{$vo.wx}</td>
		  <td style="text-align:center;">{$vo.fans_num_today}</td>
		  <td style="text-align:center;">{$vo.fans_num_all}</td>
          <td style="text-align:center;">
		  	  <a href="{:U('KFFans/today_fans', array('wx_id' => $vo['id']))}">修改粉数</a>&nbsp;&nbsp;
			  <a href="{:U('KFFans/index', array('wx_id' => $vo['id']))}">加粉报表</a>&nbsp;&nbsp;
              <a href="{:U('update', array('id' => $vo['id']))}"><i class="icon-pencil"></i></a>&nbsp;&nbsp;
              <a href="{:U('del', array('id' => $vo['id']))}"><i class="icon-remove"></i></a>
          </td>
        </tr>
	  </volist>
      </tbody>
    </table>
	<button class="btn btn-primary" type="submit" name="do" value="del" style="margin-bottom:10px;">批量删除微信号</button>
</div>
</form>

{$page}

<script type="text/javascript">
$(function(){
	$('#ck_all').click(function(){
		$('input[name="ids[]"]').prop('checked', $(this).prop('checked'))
	})
})
</script>

        <include file="Public/footer"/>          

                    
            </div>
        </div>
    </div>
</block>

