<extend name="Base/common" />
<block name="body">
    <div class="content">
        
        <div class="header">
            
            <h1 class="page-title">编辑微信</h1>
        </div>
        


        <div class="container-fluid">
            <div class="row-fluid">
				<div class="well">
					<div id="myTabContent" class="tab-content">
					<div class="tab-pane active in" id="home">
					<form id="tab" action="" method="post" enctype="multipart/form-data">
						<label>t</label>
						<input type="text" class="input-xlarge" value="{$t}" disabled="disabled">
						<label>微信号</label>
						<input type="text" class="input-xlarge" name="wx" value="{$wx['wx']}">
						<label>二维码</label>
						<input name="qrcode" type="file" />
						<div>
						    <input type="hidden" name="t" value="{$t}" />
							<input type="hidden" name="id" value="{$wx['id']}" />
							<input type="hidden" name="qrcode_name" value="{$qrcode_name}" />
							<button class="btn btn-primary" type="submit">修改</button>
						</div>
					</form>
					</div>
				  </div>
				</div>            
            </div>
        </div>
    </div>

</block>

